// --------------------------------------------------
// BOOTSTRAP OVERRIDES
// --------------------------------------------------

// Vars
// --------------------------------------------------

@font-color: #333;
@font-color-light: #999;
@light-color: #fff;
@dark-color: #000;
@font-heavy: bold;
@font-family: 'Droid Sans', sans-serif;
@font-large: 1.6em;
@bg-light: #eee;

// Padding
@pad-xxxl: 50px;
@pad-medium: 8px;
@pad-large: 12px;
@pad-none: 0;

// Responsive
@break-xs: 320px;
@break-sm: 375px;
@break-ms: 480px;
@break-md: 768px;
@break-ml: 992px;
@break-lg: 1024px;
@break-xl: 1280px;

// Styles
// --------------------------------------------------

body {
	font-family: @font-family;

	a {
		color: #00aeef;
		cursor: pointer;

		&:active, &:hover {
			color: #0089bc;
		}
	}

	p {
		margin-bottom: 25px;
	}

	h1, h2 {
		font-weight: 800;
	}

	@media only screen and (max-width : @break-ms) {
		h2 {
			font-size: 1.8em;
		}
	}

	h3 {
		font-weight: bold;
	}

	h1 {
		color: @light-color;

		@media only screen and (max-width : @break-lg) {
			font-size: 1.6em;
		}
	}

	.pad-none {
		padding: @pad-none;
	}
	.pad-medium {
		padding: @pad-medium;
	}
	.pad-large {
		padding: @pad-large;
	}

	.navbar-collapse {
		@media only screen and (max-width : @break-md) {
			background-color: @dark-color;
			border: 0 none;
			box-shadow: none;
			/*margin-top: 50px;*/
			padding-top: 100px;
			/*display: none !important;*/
			position: fixed;
			z-index: 1;
			width: 100%;
		}

		@media only screen and (max-width : @break-ms) {
			margin-top: 40px;
			padding: 40px 0 15px 0;
		}

		#navbar {

			.nav {
				position: fixed;
				top: 210px;
				left: 25px;
				z-index: 1;
				background-color: rgba(0, 0, 0, 0.7);
				background: rgba(0, 0, 0, 0.7);
				border-right: 4px solid #000;

				li {

					a {
						padding: 15px 25px;
						font-weight: @font-heavy;
						font-size: @font-large;
						font-variant: small-caps;
						border-radius: 0;
						cursor: pointer;

						&:active {
							color: @font-color;
							background-color: @bg-light;
						}

						@media only screen and (max-width : 321px) and (max-width : @break-md) {
							padding-left: 15px;
						}

						@media only screen and (max-width : @break-ms) {
							font-size: 1.4em;
						}
					}
				}

				@media only screen and (max-width : @break-md) {
					position: static;
					top: 0;
					left: 0;
					border: 0 none;
					background-color: @dark-color;
				}

			}
		}
	}

	.navbar-fixed-top {
		z-index: 1;

		.navbar-header {
			background-color: @dark-color;

			.icon-bar {
				background-color: @light-color;
			}
		}
	}

	.logo {
		position: fixed;
		top: 25px;
		left: 25px;
		z-index: 1;

		@media only screen and (max-width : @break-md) {
			width: 30%;
			top: 15px;
		}

		@media only screen and (max-width : @break-ms) {
			width: 40%;
		}
	}

	.jumbotron {
		margin: 0;
		padding: 0;

		@media only screen and (max-width : @break-ms) {
			p {
				font-size: 1.2em;
			}
		}
	}

	.row {
		margin-bottom: 30px;
		.media {
			margin: 0;

			@media only screen and (max-width : @break-lg) {
				margin-bottom: 50px;
			}

			@media only screen and (max-width : @break-sm) {
				font-size: .875em;
			}
		}
	}

	.side-push {
		left: 400px;
		margin: 0;
		position: relative;
		width: 60%;

		@media only screen and (max-width : @break-md) {
			position: static;
			width: 100%;
			padding: 0 28px;
		}
	}

	section {
	    background-color: rgba(0, 0, 0, 0.5);
	    background: rgba(0, 0, 0, 0.5);
	    color: rgba(0, 0, 0, 0.5);
	    padding: 25px;
	    position: absolute;
	    top: 210px;
	    left: 400px;
	    width: 60%;
	    border-left: 15px solid @dark-color;
	    text-align: left;

	    p {
	    	font-size: 1.4em;
	    	color: @light-color;
	    	line-height: 2em;

	    	@media only screen and (max-width : @break-lg) {
				font-size: 1em;
			}
	    }

	    @media only screen and (max-width : @break-md) {
	    	width: 100%;
	    	position: relative;
	    	left: 0;
	    	top: 0;
	    	margin: 0;
	    	padding: 100px 28px 28px 28px;
	    	border: 0 none;

	    	/*h1 {
	    		font-size: 1.2em;
	    	}*/
	    	p {
	    		font-size: 1em;
	    	}
	    }

	    @media only screen and (max-width : @break-ms) {
	     	top: 30px;
	     	padding: 45px 28px 28px;

	     	h1 {
	     		font-size: 1em;
	     	}
	     	p {
	     		font-size: .688em;
	     		line-height: 1.6em;
	     	}
	    }
	}

	.media-body {
		.media-heading {
			font-size: 1.6em;
		}

		color: #fff;
	}

	.light {

		h1, h2, h3, h4, h5, h6 {
			color: @light-color;
		}

		p {
	    	font-size: 1.4em;
	    	color: @light-color;
	    	line-height: 2em;

	    	@media only screen and (max-width : @break-ms) {
	    		font-size: 1.2em;
	    		line-height: 1.6em;
	    	}
	    }
	}

	.push-down {
		margin-top: 150px;
	}

	.push-down-more {
		margin-top: 215px;

		@media only screen and (max-width : @break-md) {
			margin-top: 100px;
		}
	}

	.bg-dark {
		background-color: rgba(0, 0, 0, 0.5);
	    background: rgba(0, 0, 0, 0.5);
	    color: rgba(0, 0, 0, 0.5);
	    padding: 25px;
	    width: 60%;
	    border-left: 15px solid @dark-color;

	    @media only screen and (max-width : @break-md) {
			width: 100%;
			border: 0 none;
		}
	}

	.carousel {
		.carousel-caption {
			text-align: left;
			width: 100%;
			color: #333;
			text-shadow: none;
			position: static;
		}

		.carousel-control {
			background: none;
		}
	}
	
	.accordion {
		margin: 12px 0 25px 0;

		.accordion-heading {
			padding: 12px 0;

			img {
				border: 6px solid #eee;
			}
			a {
				text-decoration: none;
			}
		}
		.accordion-body {
			padding: 25px;
			border: 1px solid #eee;
			border-radius: 8px;
			background-color: rgba(255, 255, 255, 0.2);
			background: rgba(255, 255, 255, 0.2);

			p {
				font-size: 1.3em;

				@media only screen and (max-width : @break-ms) {
					font-size: 1.2em;
				}
			}
		}
	}

	.btn-primary {
		background-color: #333;
		border: 0 none;

		&:active, &:hover {
			background-color: #0089bc;
			color: @light-color;
		}
	}
		
	#home {
		@media only screen and (max-width : @break-md) {
			
			
		}

		@media only screen and (max-width : @break-sm) {
			background-color: @dark-color;
			display: table;
			padding: 0 0 12px 0;

			video {
				display: none;
			}

			section {
				h1 {
					font-size: 1.2em;
				}
				p {
					font-size: 1em;
					line-height: 1.6em;
				}
			}
		}

		@media only screen and (max-width : @break-xs) {
			height: 500px;

			section {
				h1 {
					font-size: 1em;
				}
			}
		}
	}

	#who-we-are {
		background: #170e0e url('../../img/bg_who_we_are.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;
		width: 100%;
		padding-bottom: @pad-xxxl;
		/*height: 1200px;*/

		.thumbnail {
			padding: @pad-medium;

			@media only screen and (max-width : @break-sm) {
				img {
					width: 40%;
				}
			}
		}

		@media only screen and (max-width : @break-ms) {
			.row {
				.col-lg-6 {
					padding: 0;

					img {
						max-width: 100%;
					}
				}
			}
		}
	}

	#bg-what-we-do {
		background: #170e0e url('../../img/bg_what_we_do.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;
		width: 100%;
		height: 2142px;

		@media only screen and (min-width : 769px) and (max-width : @break-xl) {
			padding-bottom: 150px;
		}

		@media only screen and (max-width : @break-md) {
			padding-bottom: 300px;
		}
	}

	.bg-top-work {
		position: relative;
		top: -250px;
	}
	.bg-top-work-large {
		display: none;
		position: relative;
		top: -350px;
	}

	@media only screen and (min-width : 992px) and (max-width : @break-xl) {
		.bg-top-work { 
			top: -160px;
		}
	}

	/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1921px) {
    	.bg-top-work {
    		display: none;
    	}
    	.bg-top-work-large {
    		display: block;
    	}
    }

    @media only screen and (min-width : 2750px) {
    	.bg-top-work-large {
    		top: -500px
    	}
    }

	#our-work {
		/*background: #170e0e url('../../img/bg_our_work.jpg') no-repeat center center fixed; */
		/*-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;*/
		display: inline-block;
		width: 100%;
		/*height: 1440px;*/
		background-color: #fff;
		margin-top: -250px;
		padding-bottom: 25px;

		.jumbotron {
			background-color: #fff;
		}

		@media only screen and (max-width : @break-sm) {
			h2 {
				font-size: 1.4em;
			}
		}
	}

	#bg-contact {
		background: #170e0e url('../../img/bg_contact2.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;
		width: 100%;
		height: 1400px;

		.contact-success {
			display: none;
		}

		h2 {
			margin-bottom: 25px;
		}

		.input-group {
			margin-bottom: 12px; 
			width: 100%;

			.form-control {
			    background-color: rgba(255, 255, 255, 0.2);
			    background: rgba(255, 255, 255, 0.2);
			    color: rgba(255, 255, 255, 0.2);
			    border-color: rgba(255, 255, 255, 0.2);
			    border-radius: 0;
			    color: #fff;
			}
		}

		.form-group {
			width: 100%;

			.form-control {
			    background-color: rgba(255, 255, 255, 0.2);
			    background: rgba(255, 255, 255, 0.2);
			    color: rgba(255, 255, 255, 0.2);
			    border-color: rgba(255, 255, 255, 0.2);
			    border-radius: 0;
			    color: #fff;
			}

			@media screen and (-webkit-min-device-pixel-ratio:0) {
				select option {
					color: @dark-color;
				}
			}

			textarea {
				height: 467px;

				@media only screen and (max-width : @break-md) {
					height: 300px;
				}
		    }   
		}

		button {
			background-color: rgba(255, 255, 255, 0.8);
		    background: rgba(255, 255, 255, 0.8);
		    color: rgba(255, 255, 255, 0.8);
		    border: 4px solid rgba(255, 255, 255, 0);
		    border-radius: 0;
		    width: 100%;
		    font-weight: bold;
		    color: @dark-color;
		    text-shadow: none;
		    text-transform: uppercase;
		}

		.btn-mobile {
			display: none;
		}

		@media only screen and (max-width : @break-md) {
			.btn-desktop {
				display: none;
			}
			.btn-mobile {
				display: block;
			}
		}

		.has-error {
			.form-control {
				border-color: #ff0000 !important;
			}
		}
	}

	#copyright {
		background-color: @dark-color;
		padding: @pad-large;
		border-top: 1px solid @font-color;

		p {
			padding: @pad-large;

			small {
				color: @font-color-light;
			}
		}
	}
}