@charset "iso-8859-1";

	/* Main HTML CSS Tags */

	/* Global CSS */
 
	html, body 				{ height: 100%; min-height: 100%; border:0; margin:0; padding:0; }
	
	body 					{ background: #fff url('../images/bg.jpg') repeat-x top left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
							
	/**********/


	/* Main Linkset (Change colors to desired look and feel.) */
	 
	a, a:visited 			{ text-decoration:none; color: #4570aa; font-weight: bold; }
	a:hover 				{ color: #999; }
	
	/**********/
	
	
	/* Generic Tags */
	
	h1					{ margin: 12px 0 0 0; padding: 0; font-size: 20px; font-weight: bold; padding-bottom: 12px; }
	h2 					{ margin: 0 0 12px 0; padding: 0px; font-size: 18px; font-weight: 800; }
	img					{ border: 0; }
	p					{ padding: 0px; margin: 12px 0px 12px 0px; }
	
	.Left				{ vertical-align: top; text-align: left; }
	.Center				{ vertical-align: top; text-align: center; }
	.Right				{ vertical-align: top; text-align: right; }
	.Bold				{ font-weight: bold; }
	.Underline			{ text-decoration: underline; }
	.MarginRight10		{ margin-right: 10px; }
	.WhiteBG			{ background-color: #fff; }
	.GreyText			{ font-size: 9px; color: #999; font-weight: normal; }
	.TitleText			{ font-size: 17px; margin: 24px 0px 12px 0px; }
	
	/**********/
	
	
	/* Layout Structure */
	
	#PageContainer		{ margin: 0 auto; width: 960px; }
	#PageWrapper		{ margin-top: 20px; }
	#PagePadding		{ padding: 90px 50px 50px 50px; }
	
	/* Misc Classes */
	.Highlight_Box		{ background-color: #eee; border: 1px #ccc solid; padding: 20px; margin: 12px 0 12px 0; }
	/**********/
	