body {
  font-family: 'Droid Sans', sans-serif;
  /* Large Devices, Wide Screens */
}
body a {
  color: #00aeef;
  cursor: pointer;
}
body a:active,
body a:hover {
  color: #0089bc;
}
body p {
  margin-bottom: 25px;
}
body h1,
body h2 {
  font-weight: 800;
}
@media only screen and (max-width: 480px) {
  body h2 {
    font-size: 1.8em;
  }
}
body h3 {
  font-weight: bold;
}
body h1 {
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
  body h1 {
    font-size: 1.6em;
  }
}
body .pad-none {
  padding: 0;
}
body .pad-medium {
  padding: 8px;
}
body .pad-large {
  padding: 12px;
}
@media only screen and (max-width: 768px) {
  body .navbar-collapse {
    background-color: #000000;
    border: 0 none;
    box-shadow: none;
    /*margin-top: 50px;*/
    padding-top: 100px;
    /*display: none !important;*/
    position: fixed;
    z-index: 1;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body .navbar-collapse {
    margin-top: 40px;
    padding: 40px 0 15px 0;
  }
}
body .navbar-collapse #navbar .nav {
  position: fixed;
  top: 210px;
  left: 25px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  border-right: 4px solid #000;
}
body .navbar-collapse #navbar .nav li a {
  padding: 15px 25px;
  font-weight: bold;
  font-size: 1.6em;
  font-variant: small-caps;
  border-radius: 0;
  cursor: pointer;
}
body .navbar-collapse #navbar .nav li a:active {
  color: #333333;
  background-color: #eeeeee;
}
@media only screen and (max-width: 321px) and (max-width: 768px) {
  body .navbar-collapse #navbar .nav li a {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 480px) {
  body .navbar-collapse #navbar .nav li a {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 768px) {
  body .navbar-collapse #navbar .nav {
    position: static;
    top: 0;
    left: 0;
    border: 0 none;
    background-color: #000000;
  }
}
body .navbar-fixed-top {
  z-index: 1;
}
body .navbar-fixed-top .navbar-header {
  background-color: #000000;
}
body .navbar-fixed-top .navbar-header .icon-bar {
  background-color: #ffffff;
}
body .logo {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  body .logo {
    width: 30%;
    top: 15px;
  }
}
@media only screen and (max-width: 480px) {
  body .logo {
    width: 40%;
  }
}
body .jumbotron {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  body .jumbotron p {
    font-size: 1.2em;
  }
}
body .row {
  margin-bottom: 30px;
}
body .row .media {
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  body .row .media {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 375px) {
  body .row .media {
    font-size: .875em;
  }
}
body .side-push {
  left: 400px;
  margin: 0;
  position: relative;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  body .side-push {
    position: static;
    width: 100%;
    padding: 0 28px;
  }
}
body section {
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  position: absolute;
  top: 210px;
  left: 400px;
  width: 60%;
  border-left: 15px solid #000000;
  text-align: left;
}
body section p {
  font-size: 1.4em;
  color: #ffffff;
  line-height: 2em;
}
@media only screen and (max-width: 1024px) {
  body section p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  body section {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 100px 28px 28px 28px;
    border: 0 none;
    /*h1 {
	    		font-size: 1.2em;
	    	}*/
  }
  body section p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 480px) {
  body section {
    top: 30px;
    padding: 45px 28px 28px;
  }
  body section h1 {
    font-size: 1em;
  }
  body section p {
    font-size: .688em;
    line-height: 1.6em;
  }
}
body .media-body {
  color: #fff;
}
body .media-body .media-heading {
  font-size: 1.6em;
}
body .light h1,
body .light h2,
body .light h3,
body .light h4,
body .light h5,
body .light h6 {
  color: #ffffff;
}
body .light p {
  font-size: 1.4em;
  color: #ffffff;
  line-height: 2em;
}
@media only screen and (max-width: 480px) {
  body .light p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}
body .push-down {
  margin-top: 150px;
}
body .push-down-more {
  margin-top: 215px;
}
@media only screen and (max-width: 768px) {
  body .push-down-more {
    margin-top: 100px;
  }
}
body .bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  width: 60%;
  border-left: 15px solid #000000;
}
@media only screen and (max-width: 768px) {
  body .bg-dark {
    width: 100%;
    border: 0 none;
  }
}
body .carousel .carousel-caption {
  text-align: left;
  width: 100%;
  color: #333;
  text-shadow: none;
  position: static;
}
body .carousel .carousel-control {
  background: none;
}
body .accordion {
  margin: 12px 0 25px 0;
}
body .accordion .accordion-heading {
  padding: 12px 0;
}
body .accordion .accordion-heading img {
  border: 6px solid #eee;
}
body .accordion .accordion-heading a {
  text-decoration: none;
}
body .accordion .accordion-body {
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
body .accordion .accordion-body p {
  font-size: 1.3em;
}
@media only screen and (max-width: 480px) {
  body .accordion .accordion-body p {
    font-size: 1.2em;
  }
}
body .btn-primary {
  background-color: #333;
  border: 0 none;
}
body .btn-primary:active,
body .btn-primary:hover {
  background-color: #0089bc;
  color: #ffffff;
}
@media only screen and (max-width: 375px) {
  body #home {
    background-color: #000000;
    display: table;
    padding: 0 0 12px 0;
  }
  body #home video {
    display: none;
  }
  body #home section h1 {
    font-size: 1.2em;
  }
  body #home section p {
    font-size: 1em;
    line-height: 1.6em;
  }
}
@media only screen and (max-width: 320px) {
  body #home {
    height: 500px;
  }
  body #home section h1 {
    font-size: 1em;
  }
}
body #who-we-are {
  background: #170e0e url('../../img/bg_who_we_are.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 50px;
  /*height: 1200px;*/
}
body #who-we-are .thumbnail {
  padding: 8px;
}
@media only screen and (max-width: 375px) {
  body #who-we-are .thumbnail img {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  body #who-we-are .row .col-lg-6 {
    padding: 0;
  }
  body #who-we-are .row .col-lg-6 img {
    max-width: 100%;
  }
}
body #bg-what-we-do {
  background: #170e0e url('../../img/bg_what_we_do.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  height: 2142px;
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  body #bg-what-we-do {
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 768px) {
  body #bg-what-we-do {
    padding-bottom: 300px;
  }
}
body .bg-top-work {
  position: relative;
  top: -250px;
}
body .bg-top-work-large {
  display: none;
  position: relative;
  top: -350px;
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  body .bg-top-work {
    top: -160px;
  }
}
@media only screen and (min-width: 1921px) {
  body .bg-top-work {
    display: none;
  }
  body .bg-top-work-large {
    display: block;
  }
}
@media only screen and (min-width: 2750px) {
  body .bg-top-work-large {
    top: -500px;
  }
}
body #our-work {
  /*background: #170e0e url('../../img/bg_our_work.jpg') no-repeat center center fixed; */
  /*-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;*/
  display: inline-block;
  width: 100%;
  /*height: 1440px;*/
  background-color: #fff;
  margin-top: -250px;
  padding-bottom: 25px;
}
body #our-work .jumbotron {
  background-color: #fff;
}
@media only screen and (max-width: 375px) {
  body #our-work h2 {
    font-size: 1.4em;
  }
}
body #bg-contact {
  background: #170e0e url('../../img/bg_contact2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  height: 1400px;
}
body #bg-contact .contact-success {
  display: none;
}
body #bg-contact h2 {
  margin-bottom: 25px;
}
body #bg-contact .input-group {
  margin-bottom: 12px;
  width: 100%;
}
body #bg-contact .input-group .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: #fff;
}
body #bg-contact .form-group {
  width: 100%;
}
body #bg-contact .form-group .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body #bg-contact .form-group select option {
    color: #000000;
  }
}
body #bg-contact .form-group textarea {
  height: 467px;
}
@media only screen and (max-width: 768px) {
  body #bg-contact .form-group textarea {
    height: 300px;
  }
}
body #bg-contact button {
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border: 4px solid rgba(255, 255, 255, 0);
  border-radius: 0;
  width: 100%;
  font-weight: bold;
  color: #000000;
  text-shadow: none;
  text-transform: uppercase;
}
body #bg-contact .btn-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  body #bg-contact .btn-desktop {
    display: none;
  }
  body #bg-contact .btn-mobile {
    display: block;
  }
}
body #bg-contact .has-error .form-control {
  border-color: #ff0000 !important;
}
body #copyright {
  background-color: #000000;
  padding: 12px;
  border-top: 1px solid #333333;
}
body #copyright p {
  padding: 12px;
}
body #copyright p small {
  color: #999999;
}
